* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bc--primary: hsla(218, 17%, 62%, 1);
  --bc--secondary: hsla(233, 100%, 97%, 1);
  --bc--text--h1: hsla(275, 18%, 79%, 1);
  --bc--text-h2: hsla(312, 91%, 96%, 1);

  --fc-text--p: hsla(274, 84%, 12%, 1);
  --fc-text--h2: hsla(232, 17%, 35%, 1);
}

body {
  font-size: 1.6rem;
  background-color: var(--bc--secondary);
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container header {
  min-height: 27.9rem;
  padding: 3.2rem 0;
  width: 100%;
  background-color: var(--bc--primary);
}

.container header img {
  min-width: 13.7rem;
  min-height: 13.7rem;
  border-radius: 50%;
  animation: rotate-center 0.6s ease-in-out both;
}

.container header h1 {
  margin-top: 3.2rem;
  padding: 0.8rem 0;
  background-color: var(--bc--text--h1);

  font-family: "Staatliches";
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.55);
}

.container header p {
  display: none;
  font-family: "Roboto";
  font-size: 2.4rem;
  line-height: 2rem;
  color: #ffffff;
  margin-top: 3.2rem;
}

.container main {
  min-width: 32rem;
  max-width: 70rem;
  margin: 1.4rem auto 6rem;
  padding: 0 1rem;
}

.container main p {
  font-family: "Palanquin";
  font-size: 2rem;
  line-height: 1.5rem;
  color: var(--fc-text--p);
  margin-bottom: 6.3rem;
}

.cards {
  display: grid;
  gap: 3.6rem;
}

.card {
  position: relative;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  animation: downtop 500ms linear 250ms reverse backwards;
}

.card h2 {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  background-color: var(--bc--text-h2);
  border-radius: 2rem;

  font-family: "Staatliches";
  font-size: 2rem;
  line-height: 3.4rem;
  color: var(--fc-text--h2);

  min-width: 11rem;

  animation: topdown 500ms linear 250ms;
}

.card:nth-child(5) {
  display: none;
}

.card:nth-child(6) {
  display: none;
}

@keyframes topdown {
  0% {
    transform: translateY(-15);
    opacity: 0;
  }
  100% {
    transform: translateY(15px);
    opacity: 1;
  }
}

@keyframes downtop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 750px) {
  .container {
    flex-direction: row;
    height: 100vh;
  }

  .container header {
    max-width: 38rem;
    height: 100%;
  }

  .container header h1 {
    font-size: 4.8rem;
  }

  .container header p {
    display: block;
    margin: 3.2rem auto 0;
  }

  .container main {
    margin: auto;
    width: fit-content;
    height: fit-content;
  }

  .container main p {
    display: none;
  }

  .cards {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "A B C"
      "D B E"
      "D F E";
  }

  .card:nth-child(1) {
    grid-area: A;
  }

  .card:nth-child(2) {
    grid-area: B;
  }

  .card:nth-child(3) {
    grid-area: C;
  }

  .card:nth-child(4) {
    grid-area: D;
  }

  .card:nth-child(6) {
    grid-area: E;
    display: block;
  }

  .card:nth-child(5) {
    grid-area: F;
    display: block;
  }

  .card h2 {
    display: none;
  }
}
