*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --hue: 250;

    --bc--primary: hsla(var(--hue), 17%, 62%, 1);
    --bc-secondary: hsla(var(--hue), 100%, 97%, 1);
    --bc--primary--txt: hsla(var(--hue), 18%, 79%, 1);
    --bc--secondary--txt: hsla(var(--hue), 91%, 96%, 1);

    --fc--primary:  hsla(var(--hue), 84%, 12%, 1);
    --fc--secondary: hsla(var(--hue), 17%, 35%, 1);

}

body{
    max-width: 384px;
    font-size: 1.6rem;
    text-align: center;
    font-family: 'Staatliches', cursive;
    background-color: var(--bc-secondary)
}

header{
    background-color: var(--bc--primary);
    padding: 3.2rem 0 2.9rem;
}

header img{
    width: 13.7rem;
    height: 13.7rem;
    animation: rotate-scale-down 0.65s linear both;
}

header h1{
    padding: .8rem 0 .7rem;
    background-color: var(--bc--primary--txt);
    font-size: 4rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

main{
    margin: 1.4rem 3.2rem 6rem;
}

main p{
    font-family: 'Palanquin', sans-serif;
    font-size: 2rem;
    line-height: 1.5rem;
    color: var(--fc--primary);
    margin-bottom: 6.3rem;

}

img{
    width: 100%;
    height: auto;
}

.card{
    margin-bottom: 3.6rem;
    position: relative;
}

.card h2{
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;

    font-size: 2rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    color: var(--fc--secondary);

    padding: .1rem 2.4rem;
    background-color: var(--bc--secondary--txt);
    border-radius: 2rem;

    animation: topdown 700ms linear 250ms both;
}

.card img{
    object-fit: cover;
    transition: all 500ms;
    filter: blur(1px);
    animation: downtop 500ms linear 250ms reverse backwards;
}

.card img:hover{
    transform: scale(1.1);
    filter: none;
    
}

footer{
    display: none;
    font-family: 'Open Sans';
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: var(--fc--secondary);
}

footer a{
    text-decoration: none;
    color: var(--fc--secondary);
}

footer a:hover{
    font-weight: bold;
}

.card:nth-child(5){
    display: none;
}

.card:nth-child(6){
    display: none;
}


@keyframes topdown {
    0% {
              transform: translateY(-15);
              opacity: 0;
    }
    100% {
              transform: translateY(15px);
              opacity: 1;
    }
}

@keyframes downtop {
    0% {
              transform: translateY(0);
              opacity: 1;
    }
    100% {
              transform: translateY(100px);
              opacity: 0;
    }
  }

  @keyframes rotate-scale-down {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(0.5) rotateZ(180deg);
              transform: scale(0.5) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  



  @media (min-width: 750px){
    main{
        max-width: 128rem;
    }
  }



