*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --hue: 250;

    --bc--primary: hsla(var(--hue), 17%, 62%, 1);
    --bc-secondary: hsla(var(--hue), 100%, 97%, 1);
    --bc--primary--txt: hsla(var(--hue), 18%, 79%, 1);
    --bc--secondary--txt: hsla(var(--hue), 91%, 96%, 1);

    --fc--primary:  hsla(var(--hue), 84%, 12%, 1);
    --fc--secondary: hsla(var(--hue), 17%, 35%, 1);

}

body{
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Staatliches', cursive;
    background-color: var(--bc-secondary)
}

header{
    width: 100%;
    background-color: var(--bc--primary);
    padding: 3.2rem 0 2.9rem;
}

header img{
    max-width: 21.4rem;
    height: auto;
    animation: rotate-scale-down 0.65s linear both;
}

header h1{
    padding: .8rem 0 .7rem;
    background-color: var(--bc--primary--txt);
    font-size: 4rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

header p {
    display: none;
    font-family: 'Palanquin', sans-serif;
    font-size: 2rem;
    line-height: 1.5rem;
    color: #fff;
    margin: 3.2rem 4.8rem 0 5.4rem;  
}

main{
    margin: 1.4rem 3.2rem 6rem;
}

main p{
    font-family: 'Palanquin', sans-serif;
    font-size: 2rem;
    line-height: 1.5rem;
    color: var(--fc--primary);
    margin-bottom: 6.3rem;

}

.card{
    margin-bottom: 3.6rem;
    position: relative;
}

.card h2{
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;

    font-size: 2rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    color: var(--fc--secondary);

    padding: .1rem 2.4rem;
    background-color: var(--bc--secondary--txt);
    border-radius: 2rem;

    animation: topdown 700ms linear 250ms both;
}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
    transition: all 500ms;
    filter: blur(1px);
    animation: downtop 500ms linear 250ms reverse backwards;
}

.card img:hover{
    transform: scale(1.1);
    filter: none;
    
}

footer{
    display: none;
    font-family: 'Open Sans';
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: var(--fc--secondary);
}

footer a{
    text-decoration: none;
    color: var(--fc--secondary);
}

footer a:hover{
    font-weight: bold;
}

.card:nth-child(5){
    display: none;
}

.card:nth-child(6){
    display: none;
}


@keyframes topdown {
    0% {
              transform: translateY(-15);
              opacity: 0;
    }
    100% {
              transform: translateY(15px);
              opacity: 1;
    }
}

@keyframes downtop {
    0% {
              transform: translateY(0);
              opacity: 1;
    }
    100% {
              transform: translateY(100px);
              opacity: 0;
    }
  }

  @keyframes rotate-scale-down {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(0.5) rotateZ(180deg);
              transform: scale(0.5) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }


  @media (min-width: 950px){
    body{
        flex-direction: row;     
    }

    header{ 
        height: 100vh; 
        max-width: 37.7rem;
    }

    header h1{
        font-size: 4.8rem;
    }
    
    header p{
        font-family: 'Roboto', sans-serif;
        font-size: clamp(1rem, 1.2rem, 3rem);
        line-height: 2rem;
        display: block;
    }

    .page{
        margin: 6.4rem auto;
        padding: 6.4rem 2rem 0;
        max-width: clamp(33rem, 30rem + 60vw, 128rem);
        max-height: 100%;
        display: grid;
        align-items: center;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: 
        "A"
        "B";
    }

    footer{
        grid-area: B;
    }


    main p{
        display: none;
    }

    .card{
        margin: 0;
    }

    .card h2{
        display: none;
    }

    main{
        margin: 0;
        grid-area: A;
        display: grid;
        grid-template-columns: 22rem 22rem 22rem;
        grid-template-rows: 22rem 22rem 22rem;
        grid-template-areas: 
        "A B C"
        "D B E"
        "D F E";
        gap: 3.2rem;
    }

    main .card:nth-child(1){
        grid-area: A;
    }

    main .card:nth-child(2){
        grid-area: B;
    }

    main .card:nth-child(3){
        grid-area: C;
    }

    main .card:nth-child(4){
        grid-area: D;
    }

    main .card:nth-child(5){
        grid-area: E;
        display: block;
    }

    main .card:nth-child(6){
        grid-area: F;
        display: block;
    }

    footer{
        display: block;
        margin-top: 4rem;
    }
  }



